{% extends 'base.html' %}

{% block title %}
    Profile detail
{% endblock %}

{% block content%}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{object}}</h5>
            {% if follow %}
                <form action="{% url 'profiles:follow-unfollow-view' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                    <button type="submit" class="btn btn-danger"> unfollow</button>
                </form>
            {% else %}
                <form action="{% url 'profiles:follow-unfollow-view' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                    <button class="btn btn-success">follow</button>
                </form>
            {% endif %}
        </div>
    </div>

    {% for post in object.profiles_posts %}
        {% include 'posts/posts_list.html' %}
    {% endfor %}

{% endblock %}
