<div class="ui segment">
    <h3>
        <a href="{{ post.get_absolute_url }}" class="">{{ post.title }}</a>
    </h3>

    {{ post.author }} | {{ post.created }}
    <hr>
    {{ post.body }}
    <form action="{% url 'profiles:read-unread-view' %}" method="post">
        {% csrf_token %}
        {% if post in read %}
            <input type="hidden" name="post_pk" value="{{ post.pk }}">
            <button class="ui negative button">Mark unread</button>
        {% else %}
            <input type="hidden" name="post_pk" value="{{ post.pk }}">
            <button class="ui positive button">Mark as read</button>
        {% endif %}
    </form>

</div>
